In [1]:
# LIst Comprehension

WAP to produce square of only odd nos between 1 to 50, store them in a list and print the list

In [6]:
li=[]
[li.append(x**2) for x in range(1,51) if x%2!=0]
li

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [7]:
a=[]
for i in range(1,51):
    if i%2!=0:
        a.append(i**2)
print(a)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [8]:
[i**2 for i in range(1,51) if i%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [9]:
mylist=[]
for i in range (0,5):
    number=int(input())
    mylist.append(number)

1
2
3
4
5

In [11]:
mylist

[1, 2, 3, 4, 5]

In [15]:
# iterable: list,tuple,string,dict,set,range()
    
# [x for x in iterable <test_condition>]

# for reduce the time and space complexity
# for reduce the code complexity
# better use of this list comprehension with lamda function ,map functon and filter function and reduce function

Q: Create a function called removevowels() which accept a string as argument and return a list with all the vowels removed from string
1. for loop
2. list comprehension

# Tuple

In [19]:
tuple=(1,2,3,4,5) # use of sqaure braket or parenthisis

In [20]:
mytuple=()

In [21]:
mytuple

()

In [23]:
mytuple=(1,21,'fgh14564',10.23)

In [25]:
type(mytuple)

tuple

In [26]:
mytuple=(10)

In [27]:
type(mytuple)

int

In [28]:
mytuple=(10,0)

In [29]:
type(mytuple)

tuple

In [30]:
mytuple=(10,)

In [31]:
type(mytuple)

tuple

In [32]:
mytuple=('sunny',)

In [33]:
type(mytuple)

tuple

In [34]:
# concept of packing and unpacking

In [35]:
a=1,2,3,4

In [42]:
a # Packing

(1, 2, 3, 4)

In [43]:
x,y,z,h=a # unpacking

In [38]:
x

1

In [39]:
y

2

In [40]:
z

3

In [41]:
h

4

In [45]:
a=[1,2,3,4,5]

In [46]:
x,y,z,e,f=a

In [47]:
x

1

In [49]:
z

3

In [48]:
f

5

In [53]:
mytuple=(1,2,43,54,67,4,46,567,6)

In [54]:
mytuple[3]

54

In [55]:
mytuple[-2]

567

In [56]:
mytuple[4:7]

(67, 4, 46)

In [57]:
mytuple[3]=100 # not possible in tuple

TypeError: 'tuple' object does not support item assignment

In [58]:
mynum=[[1,2],3,4,5,6,7,8]

In [59]:
mynum[0][1]

2

In [60]:
mynum[0][1]=100

In [61]:
mynum

[[1, 100], 3, 4, 5, 6, 7, 8]

In [62]:
mynum=([1,2],3,4,5,6,7,8)

In [63]:
mynum[0][1]

2

In [64]:
mynum[0][1]=10000

In [65]:
mynum

([1, 10000], 3, 4, 5, 6, 7, 8)

In [66]:
mytuple=(1,2,3,4,5,6)

In [67]:
del(mytuple[3])

TypeError: 'tuple' object doesn't support item deletion

In [68]:
del(mytuple)

In [69]:
mytuple

NameError: name 'mytuple' is not defined

function in tuple

len()

max()

min()

sum()

sorted()

any()

all()

tuple()

In [70]:
mytuple=(0,1,2,3,4,5,6,7,8,9,10,11)

In [71]:
sorted(mytuple,reverse=True)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [72]:
# atleast one element should be true
any(mytuple)

True

In [74]:
# all element should be true
all(mytuple) # 0 is not ture

False

In [78]:
tuple("Santosh")

TypeError: 'tuple' object is not callable