In [2]:
# Mysql connector in python

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES") # write the query in "xyz"

# mydb.commit() # To store data in mydb

for x in mycursor: # to print the object
    print(x)

In [1]:
# Mongodb demo on python

In [ ]:
import pymongo

# Provide the mongodb localhost url to connect python to mongodb.
client = pymongo.MongoClient("mongodb+srv://santosh0:<password>@cluster0.iqaiqul.mongodb.net/?retryWrites=true&w=majority")

# Database Name
dataBase = client["neurolabDB"]

# Collection  Name
collection = dataBase['Products']

# Sample data
d = {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'}

# Insert above records in the collection
rec = collection.insert_one(d)

# Lets Verify all the record at once present in the record with all the fields
all_record = collection.find()

# Printing all records present in the collection
for idx, record in enumerate(all_record):
     print(f"{idx}: {record}")

In [ ]:
# document --> mongoDB --> (NoSQL)
# json object in {} curly bracket

In [ ]:
ls --> list of file in terminal
pip list --> list of libbrary installed in directory
pip install -r requirements.txt --> install all library from requirements.txt file
python filename.py --> to run .py file in the terminal

In [ ]:
https://codeshare.io/ZJONqn
https://archive.ics.uci.edu/ml/datasets/Census+Income
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
https://www.mongodb.com/docs/atlas/atlas-ui/

In [1]:
1. Create a database
2. collection
3. document(json,dict)

SyntaxError: invalid syntax (1447649521.py, line 1)

# ZIP

In [4]:
mylist1=['a','b','c','d','e']
mylist2=[1,2,3,4,5]

In [5]:
for i in zip(mylist1,mylist2):
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [6]:
for x,y in zip(mylist1,mylist2):
    print(x,y)

a 1
b 2
c 3
d 4
e 5

In [7]:
dict={}
for x,y in zip(mylist1,mylist2):
    dict[x]=y
dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
map(func,seq) # it will give me value according to the logic
filter(func,seq) # it will give me value according to the logic
reduce(func,seq) # it will reduce the value

In [8]:
# reduce
import functools

In [10]:
mylist=[1,3,5,6,2]

In [11]:
functools.reduce(lambda a,b: a+b ,mylist)

17

# Iterator and generator

In [13]:
# generator

In [16]:
def gen(n):
    for i in range(n):
        yield i         # here yield is the keyyword

In [17]:
gen(10)

In [20]:
for i in gen(10):
    print(id(i))

1469000411408
1469000411440
1469000411472
1469000411504
1469000411536
1469000411568
1469000411600
1469000411632
1469000411664
1469000411696

In [3]:
def test(n):
    for i in range(n):
        yield i

In [4]:
test(10)

In [ ]:
iterable --> list,tuple,string,set,dict
it is a sequence of the value

In [ ]:
iterator --> its a object on top of that we can perform iteration

In [6]:
mylist=[1,2,3,4,5]

In [8]:
obj=iter(mylist)

In [9]:
next(obj)

1

In [10]:
next(obj)

2

In [11]:
next(obj)

3