In [1]:
my_list=[14,10,12,17]
low_bound=10
up_bound=20
for i in my_list:
    if i<low_bound or i>up_bound:
        print('all not in limit')
        break
else:
    print('all in limit')

all in limit

In [2]:
my_list=[14,10,12,17,50]
low_bound=10
up_bound=20
for i in my_list:
    if i<low_bound or i>up_bound:
        print('all not in limit')
        break
else:
    print('all in limit')

all not in limit

In [6]:
# range() function in python which return range object
# this function used to generate sequence of number in form of list

In [4]:
a=range(10)

In [5]:
print(a)

range(0, 10)

In [7]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# range(start,stop,step)

In [10]:
b=range(4)

In [11]:
print(b)

range(0, 4)

In [12]:
list(b)

[0, 1, 2, 3]

In [13]:
for i in b:
    print(i)

0
1
2
3

In [14]:
x=range(7)

In [15]:
for i in x:
    print(i)

0
1
2
3
4
5
6

In [16]:
y=range(1,7)

In [24]:
for i in y:
    print(i)
# Range(7) mmeans upto 6 but not 7 itself

1
2
3
4
5
6

In [25]:
x=range(-10) # range always start from 0 or its jump towards right of start value

In [23]:
list(x)

[]

In [37]:
a=range(-10,3)

In [39]:
list(a)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2]

In [42]:
a=range(-7,5,2)
list(a)

[-7, -5, -3, -1, 1, 3]

In [43]:
a=range(7,-5,-2)
list(a)

[7, 5, 3, 1, -1, -3]

In [44]:
a=range(5,10,20)
list(a)

[5]

In [45]:
a=range(-7,5,1.5)
list(a)

TypeError: 'float' object cannot be interpreted as an integer

In [50]:
a=range(5,10,2)
list(a)

[5, 7, 9]

In [51]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [56]:
num=int(input('enter the int '))
total=0

for i in range(1,num+1):
    total=total+i
    
print('sum of num is 1 to {} is {}'.format(num,total))

enter the int 5
sum of num is 1 to 5 is 15

In [57]:
for i in range(100,0,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [58]:
for i in range(10):
    print(i)
else:
    print('loop complete')

0
1
2
3
4
5
6
7
8
9
loop complete

In [60]:
number=[1,2,3]
alpha=['a','b','c']
for n in number:
    print(n)
    for ch in alpha:
        print(ch)
# second for will run full for each first for

1
a
b
c
2
a
b
c
3
a
b
c

In [7]:
for i in range(4):
    for j in range(3):
        print('*',end=' ')
    print()

* * *
* * *
* * *
* * *

In [12]:
for i in range(1,5):
    print('*'*3)

***
***
***
***

In [65]:
for i in range(4):
    for j in range(i+1):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *

In [14]:
for i in range(4):
    for j in range(4-i):
        print('*',end='')
    print('')

****
***
**
*

In [70]:
while True: 
    n = int(input("Please Enter any Number: "))
    print("The List of Natural Numbers from 1", "to", n) 
    if n==0:
        break
    for i in range(1, n+1):
        print (i)

Please Enter any Number: 5
The List of Natural Numbers from 1 to 5
1
2
3
4
5
Please Enter any Number: 0
The List of Natural Numbers from 1 to 0

In [72]:
user_num = int(input('Enter num : '))
while(user_num!=0):
    if user_num==0:
        break
        print('exit')
    else:
        for i in range(user_num):
            print(i)
    user_num=int(input('Enter num : '))

Enter num : 5
0
1
2
3
4
Enter num : 0

In [73]:
for i in range(4):
    for j in range(i-1):
        print('*',end=' ')
    print(' ')

*
* *