# List in Python

In [1]:
#empty list
# we represent the list with square bracket
mylist=[]

In [2]:
mylist

[]

In [3]:
#list of integers
mylist=[1,2,3,4,5,6]

In [4]:
mylist

[1, 2, 3, 4, 5, 6]

In [6]:
#list with different datatype
mylist=[1,'hello',2.5]

In [8]:
number='100'
type(number)

str

In [11]:
int(number)

100

In [13]:
#iterable

In [15]:
list(10)

TypeError: 'int' object is not iterable

In [16]:
list('sunny')

['s', 'u', 'n', 'n', 'y']

In [20]:
list((10,20,30))

[10, 20, 30]

In [18]:
list([10,20,30])

[10, 20, 30]

In [21]:
mylist=[1,2,3,4,45,5,6,7]

In [22]:
mynum=[10,20,30,40,50]

In [23]:
mynum[1:]

[20, 30, 40, 50]

In [24]:
mynum[:-2]

[10, 20, 30]

In [29]:
#modify the existing element
sports=['cricket','hockey','football']

In [30]:
sports[1]

'hockey'

In [31]:
sports[1]='badminton'

In [32]:
sports

['cricket', 'badminton', 'football']

In [35]:
#slicing element for multiole value
sports[1:3]=['basketball','tennis']

In [36]:
sports

['cricket', 'basketball', 'tennis']

In [37]:
#concatinate the list
'sunny'+'savita'

'sunnysavita'

In [38]:
outdoorgames=['cricket','basketball','tennis']

In [39]:
indoorgames=['carrom','ludo','chess']

In [40]:
all_sports=outdoorgames+indoorgames

In [41]:
all_sports

['cricket', 'basketball', 'tennis', 'carrom', 'ludo', 'chess']

In [42]:
ineuron_team=['sunny','krish','sudhanshu']

In [43]:
ineuron_team+list('satya')

['sunny', 'krish', 'sudhanshu', 's', 'a', 't', 'y', 'a']

In [46]:
ineuron_team+list(['satya'])

['sunny', 'krish', 'sudhanshu', 'satya']

In [49]:
ineuron_team+['rishav']

['sunny', 'krish', 'sudhanshu', 'rishav']

In [50]:
ineuron_team*3

['sunny',
 'krish',
 'sudhanshu',
 'sunny',
 'krish',
 'sudhanshu',
 'sunny',
 'krish',
 'sudhanshu']

# membership operator
# in and not in

In [52]:
'sunny' in ineuron_team

True

In [53]:
'rohit' not in ineuron_team

True

In [54]:
'krish' not in ineuron_team

False

In [56]:
'S' in 'sunny'

False

# list function

len()
max()
min()
sum()
sorted()
any()
all()
list()

## list methods

append()
extend()
insert()
index()
count()
remove()
pop()
clear()
reverse()
sort()

# List Comprehension

In [59]:
mynum=[1,2,3,4,5,6,67,8]

In [60]:
# len() gives length
len(mynum)

8

In [61]:
max(mynum)

67

In [62]:
min(mynum)

1

In [63]:
sum(mynum)

96

In [64]:
sorted(mynum)

[1, 2, 3, 4, 5, 6, 8, 67]

In [65]:
sorted(mynum,reverse=True)

[67, 8, 6, 5, 4, 3, 2, 1]

# if all the element is true in the list it will give me a true otherwise flase

In [66]:
all(mynum)

True

In [67]:
# 0,0.0,False,0+0j this vales in python is always false

In [68]:
mynum2=[0,1,2,323]

In [69]:
all(mynum2)

False

In [70]:
mynum3=[0,False,1,2,45]

In [71]:
all(mynum3)

False

In [83]:
primes=[2,3,5,7,11]

In [84]:
primes.append(13) # list method is written this way

In [85]:
primes

[2, 3, 5, 7, 11, 13]

In [86]:
len(primes) # list function is written this way

6

In [87]:
animal=['dog','cat','rabbit']

In [88]:
animal.append('tiger')

In [89]:
animal

['dog', 'cat', 'rabbit', 'tiger']

In [90]:
wild_animal=['lion','fox']

In [91]:
animal.append(wild_animal)

In [92]:
animal

['dog', 'cat', 'rabbit', 'tiger', ['lion', 'fox']]

In [93]:
animal.extend(wild_animal)

In [94]:
animal

['dog', 'cat', 'rabbit', 'tiger', ['lion', 'fox'], 'lion', 'fox']

In [95]:
animal.remove('lion')

In [96]:
animal

['dog', 'cat', 'rabbit', 'tiger', ['lion', 'fox'], 'fox']

In [97]:
# nesting in the function

In [104]:
mynums=[1,2,34,5,6,456,45,3323,2323]

In [105]:
mynums.extend(['2000'])

In [106]:
mynums

[1, 2, 34, 5, 6, 456, 45, 3323, 2323, '2000']

In [107]:
primes=[2,3,45,7,11]

In [108]:
primes[3]=9

In [109]:
primes

[2, 3, 45, 9, 11]

In [110]:
# insert(index,value)

In [111]:
primes.insert(3,1000)

In [112]:
primes

[2, 3, 45, 1000, 9, 11]

In [113]:
mynums

[1, 2, 34, 5, 6, 456, 45, 3323, 2323, '2000']

In [114]:
mynums.count(2)

1

In [117]:
mynums.index(5) # getting the index position of the given element

3

In [120]:
len(mynums)

10

In [121]:
len(mynums)-1

9

In [126]:
vowels=['a','e','i','o','u']

In [127]:
vowels.remove('a') # it will remove first matching element

In [128]:
vowels

['e', 'i', 'o', 'u']

In [129]:
#pop

In [130]:
#pop method removes and return the element at the given index

In [131]:
fruits=['apple','banana','orange']

In [132]:
fruits.pop(1)

'banana'

In [133]:
fruits

['apple', 'orange']

In [136]:
fruits.clear() # everything will be empty

In [137]:
fruits

[]

In [138]:
mylist

[1, 2, 3, 4, 45, 5, 6, 7]

In [139]:
mylist.reverse()

In [140]:
mylist

[7, 6, 5, 45, 4, 3, 2, 1]

In [141]:
mylist.sort()

In [142]:
mylist

[1, 2, 3, 4, 5, 6, 7, 45]

In [144]:
mylist.sort(reverse=True)

In [145]:
mylist

[45, 7, 6, 5, 4, 3, 2, 1]

In [146]:
# list method in python

In [147]:
# print all the element with while as well as for loop
mynums

[1, 2, 34, 5, 6, 456, 45, 3323, 2323, '2000']

In [148]:
i=0
while i<len(mynums):
    print(mynums[i])
    i=i+1

1
2
34
5
6
456
45
3323
2323
2000

In [149]:
for i in mynums:
    print(i)

1
2
34
5
6
456
45
3323
2323
2000

# Questions

Q1 Write a program to accept five integers from the user , store them in a list . Display these integers and also display their sum

In [59]:
n1,n2,n3,n4,n5=input('Write five intrger with single space:').split()
mylist=[n1,n2,n3,n4,n5]
mylist_sum=int(n1)+int(n2)+int(n3)+int(n4)+int(n5)
print('My list of numbers are {}'.format(mylist))
print('Sum of my list of numbers is {}'.format(mylist_sum))

Write five intrger with single space:0 1 2 3 4
My list of numbers are ['0', '1', '2', '3', '4']
Sum of my list of numbers is 10

Q2 Write a program to accept 5 unique integers from the user. Make sure if the integer being entered is already present in the list your code displays the message “Item already present” and ask the user to reenter the integer.

In [74]:

n6,n7,n8,n9,n10=input('Write five unique integer:').split()
print('My previous list of numbers are {}'.format(mylist))
mylist2=[n6,n7,n8,n9,n10]
print('My new list of numbers are {}'.format(mylist2))
common=set(mylist2) & set(mylist)
if common ==set():
    print('You have entered unique list of integer')

else:
    
    n6,n7,n8,n9,n10=input('Write five unique integer again:').split()

Write five unique integer:9 8 7 6 5
My previous list of numbers are ['0', '1', '2', '3', '4']
My new list of numbers are ['9', '8', '7', '6', '5']
You have entered unique list of integer

Q3 Write a program to accept 2 lists from the user of 5 nos each . Assume each list will have unique nos Now find out how many items in these lists are common .

In [75]:
n1,n2,n3,n4,n5=input('Write five uniue intrger with single space:').split()
n6,n7,n8,n9,n10=input('Write five uniue intrger with single space:').split()
list1=[n1,n2,n3,n4,n5]
list2=[n6,n7,n8,n9,n10]
common=(set(list1)&set(list2))
if common:
    print('{} items are common'.format(len(common)))
else:
    print ('Nothing is common')

Write five uniue intrger with single space:4 5 6 2 1
Write five uniue intrger with single space:7 8 5 6 4
3 items are common

Q4 Rewrite the previous code so that your code also displays the items which are common in both the lists

In [25]:
n1,n2,n3,n4,n5=input('Write five uniue intrger with single space:').split()
n6,n7,n8,n9,n10=input('Write five uniue intrger with single space:').split()
list1=[n1,n2,n3,n4,n5]
list2=[n6,n7,n8,n9,n10]
common=(set(list1)&set(list2))
if common:
    print('{} items are common'.format(len(common)))
    print(common)
else:
    print ('Nothing is common')

Write five uniue intrger with single space:1 2 3 0 4
Write five uniue intrger with single space:5 4 6 2 1
3 items are common
{'2', '1', '4'}